* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  padding-top: 3rem;
  font-family: "Oswald", sans-serif;
}


.red {
  color: red;
  font-weight: bold;
  font-size: 2rem;
  background: transparent;
  border: transparent;

}

